<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GSBCR.UC.Properties.Settings.cnx" connectionString="Data Source=SLAM-MSQL;Initial Catalog=GSB_Visite_JEANNETTE;User ID=etu;Password=Sio2017_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>